@import './reset.scss';
@import './variables.scss';

.App {
  padding: 0 25px;
  font-family: 'Quicksand', sans-serif;
  background-color: var(--background-color);
  color: var(--color-text);
  height: 100vh;
  @include transition();
}

h3 {
  margin: 20px;
}

p {
  margin: 5px 0;
}
